@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lexend+Deca:wght@100..900&display=swap");

/* Global variables */
:root {
  --color-primary-900: hsl(233, 47%, 7%);
  --color-primary-800: hsl(244, 38%, 16%);
  --color-primary-400: hsl(277, 64%, 61%);

  --color-neutral-100: hsl(0, 0%, 100%);
  --color-neutral-200: hsla(0, 0%, 100%, 0.75);
  --color-neutral-300: hsla(0, 0%, 100%, 0.6);

  --font-face-primary: "Inter", sans-serif;
  --font-face-secondary: "Lexend Deca", sans-serif;

  --font-weight-regular: 400;
  --font-weight-bold: 700;

  --font-size-small: 0.75rem;
  --font-size-medium: 0.9375rem;
  --font-size-large: 1.5rem;
  --font-size-x-large: 1.75rem;

  --line-height-small: 1.5625rem;
  --line-height-medium: 1.5625rem;
  --line-height-x-large: 2rem;

  --border-radius-default: 0.5rem;
}

/* Resets */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}

img {
  display: block;
  max-width: 100%;
}

/* Styles */

body {
  font-family: var(--font-face-primary);
  font-size: var(--font-size-medium);
  line-height: var(--line-height-medium);
  text-align: center;
  color: var(--color-neutral-100);
  background-color: var(--color-primary-900);
  padding: 0 6.4vw;
}

.accent {
  color: var(--color-primary-400);
}

.card {
  background-color: var(--color-primary-800);
  border-radius: var(--border-radius-default);
  min-width: 327px;
  max-width: 1110px;
  overflow: hidden;
}

.analytics {
  padding: 2rem;
}

.analytics__img {
  background-color: var(--color-primary-400);
  background-image: url("./images/image-header-mobile.jpg");
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 15rem;
}

.analytics__title {
  font-size: var(--font-size-x-large);
  line-height: var(--line-height-x-large);
  font-weight: var(--font-weight-bold);
  margin: 0.5rem auto;
}

.analytics__body {
  margin: 1rem 0;
}

.stats {
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.65rem;
}

.stats__title {
  font-size: var(--font-size-large);
  line-height: var(--line-height-large);
  font-weight: var(--font-weight-bold);
}

.stats__body {
  font-family: var(--font-face-secondary);
  font-size: var(--font-size-small);
  line-height: var(--line-height-small);
  font-weight: var(--font-weight-regular);
  letter-spacing: 1px;
  margin-top: 0.25rem;
}
.stats__body,
section.stats > section:last-child {
  text-transform: uppercase;
}

/* Media query */

@media (min-width: 800px) {
  :root {
    --font-size-x-large: 2.25rem;
    --line-height-x-large: 2.75rem;
  }

  body {
    height: 100vh;
    display: grid;
    place-content: center;
    text-align: left;
  }

  .card {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .analytics {
    padding: 4.5rem;
  }

  .analytics__img {
    order: 1;
  }

  .stats {
    margin-top: 4rem;
    flex-direction: row;
    justify-content: space-between;
  }

  .analytics__body,
  .stats {
    max-width: 90%;
  }
}
